*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteneur{
    width: 100vw;
    border: 5px solid black;
    margin: 0 auto;
}

header{
    height: 20vh;
    background-color: aquamarine;
}

nav{
    height: 15vh;
    background-color: burlywood;
}

main {
    margin: 5vh 5vw;
}

main>div{
    display: flex;
}

#a,
#b,
#c,
#d{
    width: 50%;
    height: 20vh;
}

#a{
    background-color: cadetblue;
}
#b{
    background-color: darkseagreen;
}
#c{
    background-color: darkslategray;
}
#d{
    background-color: khaki;
}
footer{
    height: 20vh;
    background-color: aquamarine;
}

/* DEBUT DU RESPONSIVE ADAPTATIF : MEDIA QUERIES */

@media screen and (max-width: 600px){
    #conteneur{
        width: 100%;
    }
    main{
        margin: 0;
    }
}