h1 {
    font-size: 26px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: salmon;
    margin: 10px 0;
}

figure {
    margin: 50px;
    width: 600px;
    overflow: hidden; /* pour cacher ce  qui depasse */
}

figure figcaption {
    width: 600px;
    text-align: center;
    z-index: 1000; /* pour passer un element au-dessus*/
    background-color: grey;
}

figure figcaption a {
    color: white;
    font-size: 50px;
    text-decoration: none;
}

/*
    - Amusons nous
    - Sur la premiere figure  agrandir l'image quand on passe  la souris dessus
*/

.premiere {
    transition: 0.2s;
    transform: scale(1); /*scale => echel*/
}

.premiere:hover {
    transform: scale(1.2);
}

/*En utilisant margin-left, faites en sorte au survol, l'image se décale de la gauche de 20px*/

.deuxieme:hover {
    margin-left: 70px;
    transition-duration: 0.2s;
}

/* Au survol, faite remonter l'image */

.troisieme {
    transition: 0.2s;
}

.troisieme:hover {
    transform: translateY(-10%);
}

/*Pour la derniere, au suvol, faites une rotation a 360°*/

.quatrieme {
    transition:  1.5s;
}

.quatrieme:hover {
    /*transform: rotate(360deg);*/
    transform: rotate(1turn);
}